# Dataset settings
dataset: 'PaviaU'  # PaviaU; KSC; Salinas
experiment: 'server_01'  # Name for the experiment (will be used to load all information)
data_folder: './datasets/'  # Dataset folder
exec_folder: './experiments/'  # Folder where to keep all the experiment data
split_folder: 'data_split/'  # Where to store dataset splits
val_split: 0.1  # Fraction from the dataset used for validation [0, 1]
train_split: 0.8  # Fraction from the dataset used for training [0, 1]
train_batch_size: 100  # Batch size for every train iteration
test_batch_size: 20  # Batch size for every test iteration
sample_size: 23  # Window size for every sample/pixel input
sample_bands: 5  # Number of bands after applying PCA
generate_samples: True  # Whether the samples should be generated (False to load previously saved samples)
max_samples: null  # max training samples per class (null for no limit)

# Hyper parameters
num_runs: 10  # The amount of time the whole experiment should run
num_epochs: 50  # Number of epochs per run
learning_rate: 0.1  # Initial learning rate
momentum: 0.9  # Momentum of optimizer
weight_decay: 1e-4  # The weight decay for the optimizer
gamma: 0.1  # Gamma parameter for the lr scheduler
scheduler_step: 5000  # Step size for the lr scheduler

# Other options
results_folder: 'results/'  # Folder where to write the validation and test results
checkpoint_folder: 'checkpoints/'  # Folder where to keep checkpoints
checkpoint_file: null  # What checkpoint file to load (null for the latest)
use_checkpoint: False  # Whether to load a checkpoint
print_frequency: 40  # The amount of iterations between every step/loss print
use_tensorboard: False  # Whether to use tensor boar for training information
write_frequency: 20  # The amount of iterations between every tensorboard update
